<template>
  <iframe title="some-iframe" width="400" height="400" style="border:1px solid red;padding:15px ">
  </iframe>
</template>

<script>
import Vue from 'vue'

export default {
  props: {
    css: {
      type: Array,
      default: () => [] 
    }
  },
  mounted() {
    // set styles
    const head = this.$el.contentDocument.head
    this.css.forEach(style => {
      head.appendChild(style)
    });

    // render child components
    const children = this.$slots.default
    const body = this.$el.contentDocument.body      
    const el = document.createElement('div')
    body.appendChild(el)
    
    new Vue({
      render(h) {
        return h('div', children)
      },
    }).$mount(el)
  }
}
</script>
